html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0 auto;
  font-family: helvetica;
  list-style: none;
}
.container {
  width: 1366px;
}
header {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  background-color: #eefbff;
}
.header-logo {
  font-size: 17px;
  padding-left: 150px;
  float: left;
  line-height: 50px;
}
.header-logo h1 {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
}
.header-menu {
  float: right;
  padding-right: 120px;
}
.header-menu li {
  float: left;
  list-style: none;
  padding-right: 30px;
  display: block;
  line-height: 50px;
  font-weight: bold;
}
.header-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
footer {
  height: 170px;
  width: 100%;
  background-color: #1a3a60;
  color: #fff;
  margin-top: 200px;
  position: absolute;
  bottom: 0;
  padding-top: 50px;
}
.footer-list1 {
  padding-left: 150px;
  float: left;
  padding-right: 250px;
}
.footer-list1 a {
  text-decoration: none;
  color: white;
}
.footer-list1 h2 {
  padding-bottom: 20px;
  padding-left: 40px;
}
.footer-list1 li {
  padding-bottom: 20px;
}
.footer-list2 {
  float: left;
  padding-right: 250px;
}
.footer-list2 a {
  color: #fff;
  text-decoration: none;
}
.footer-list2 h2 {
  padding-bottom: 20px;
  padding-left: 40px;
}
.footer-list2 li {
  padding-bottom: 20px;
}
.footer-list3 {
  float: left;
  padding-right: 150px;
}
.footer-list3 h2 {
  padding-bottom: 20px;
  padding-left: 40px;
}
.footer-list3 li {
  float: left;
  padding-right: 20px;
}
